RewriteEngine on
RewriteCond %{REQUEST_URI} !^/css/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/img/
RewriteCond %{REQUEST_URI} !^/ajax.php
RewriteCond %{REQUEST_URI} !^/captcha.php
RewriteRule .*? index.php